type project
licenseUrl https://licenses.nuget.org/MIT
licenseExpression MIT

version 0.1.1

authors Shayan Habibi

description
    Container for dependencies necessary to utilise Feliz.Shadcn components out of the box.
files
    ./README.md ==> docs
readme docs/README.md